@font-face {
  font-family: "LexendDeca-Regular";
  src: url(../fonts/LexendDeca-Regular.ttf);
}
@font-face {
  font-family: "BigShouldersDisplay-Regular";
  src: url(../fonts/BigShouldersDisplay-Regular.ttf);
}
html, body, .main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
@media (min-width: 675px) {
  html, body, .main {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.main .main-container {
  background-color: #f2f2f2;
}
@media (min-width: 675px) {
  .main .main-container {
    border-radius: 10px;
    -webkit-box-shadow: 1px 4px 16px -2px rgba(0, 0, 0, 0.76);
    box-shadow: 1px 4px 16px -2px rgba(0, 0, 0, 0.76);
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 7% 0 7%;
  }
}
.main .main-container .columns-container {
  display: flex;
  height: auto;
}
@media (min-width: 675px) {
  .main .main-container .columns-container {
    flex-direction: row;
    margin: 10% 15% 10% 15%;
  }
  .main .main-container .columns-container :first-child {
    border-radius: 10px 0 0 10px;
  }
  .main .main-container .columns-container :last-child {
    border-radius: 0 10px 10px 0;
  }
}
@media (max-width: 675px) {
  .main .main-container .columns-container {
    margin: 30px 10px;
    flex-direction: column;
  }
  .main .main-container .columns-container :first-child {
    border-radius: 10px 10px 0 0;
  }
  .main .main-container .columns-container :last-child {
    border-radius: 0 0 10px 10px;
  }
}
.main .main-container .columns-container .column.bg-bright-orange {
  background-color: #e38826;
}
.main .main-container .columns-container .column.bg-bright-orange input {
  color: #e38826;
}
.main .main-container .columns-container .column.bg-dark-cyan {
  background-color: #006970;
}
.main .main-container .columns-container .column.bg-dark-cyan input {
  color: #006970;
}
.main .main-container .columns-container .column.bg-very-dark-cyan {
  background-color: #004241;
}
.main .main-container .columns-container .column.bg-very-dark-cyan input {
  color: #004241;
}
.main .main-container .columns-container .column .column-content {
  padding: 10%;
}
.main .main-container .columns-container .column .column-content .column-title {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 700;
  font-family: "BigShouldersDisplay-Regular";
  text-transform: uppercase;
  margin: 20px 0 20px 0;
}
.main .main-container .columns-container .column .column-content .column-text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  font-weight: 400;
  font-family: "LexendDeca-Regular";
}
.main .main-container .columns-container .column .column-content .column-btn {
  margin-top: 55px;
  margin-bottom: 20px;
}
.main .main-container .columns-container .column .column-content .column-btn input {
  font-size: 15px;
  font-weight: 400;
  font-family: "LexendDeca-Regular";
  border: 2px #f2f2f2 solid;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 10px 15px 10px 15px;
}
.main .main-container .columns-container .column .column-content .column-btn input:focus {
  outline: 0;
}
.main .main-container .columns-container .column .column-content .column-btn input:hover {
  cursor: pointer;
}
.main .main-container .columns-container .column .column-content .column-btn input:active {
  background-color: rgba(0, 0, 0, 0);
  color: #f2f2f2;
}

/*# sourceMappingURL=style.css.map */
